{% extends "layout.html" %}
{% block body%}

{% with messages=get_flashed_messages(with_categories=True)%}
{% if messages %}
{% for category,message in messages%}
<div class="alert alert-{{category}}">
      {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h1 class="text-center mt-4 ">Reset Password</h1>
<form class="col-sm-10 mx-auto mt-4 " action="{{url_for('auth.reset',_external=True)}}" method="POST">
    <div class="form-group row ">
      <label for="email" class="col-sm-4 col-form-label">Email</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
      </div>
    </div>

    <div class="text-center mt-5">
        <button class="btn btn-success btn-lg">Submit</button>
        </div>
</form>
{% endblock%}
